.block-registration {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #F6F7F8;
	border-radius: 6px;
	text-align: center;
	p {
		line-height: 34px;
		font-size: 20px;
	}
	a {
		color: #037EC6;
		text-decoration: none;
		border-bottom: 1px solid #037ec6;
	}
}

.comment {
	display: flex;
	align-items: center;
	border-radius: 6px;
	background-color:  #eef0f2;
	width: 944px;
	height: 87px;
	&-header {
		margin-top: 51px;
		margin-bottom: 22px;
	}
	.user-face {
		margin: 19px 20px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid red;
	}
	&-wrap {
		display: flex;
		flex-direction: column;
	}
}
