.error {
	height: 44px;
	border-radius: 4px;
	background-color: #b51919;
	background-image: linear-gradient(to top, #971515 0%, #c93232 100%);
	color: #ffffff;
	font-weight: 400;
	line-height: 40px;
	
	.p {
		margin-left: 20px;
		margin-right: 20px;	
		}
}



.error-with-desc {
	height: 44px;
	border-radius: 4px 4px 0 0;
	background-color: #b51919;
	background-image: linear-gradient(to top, #971515 0%, #c93232 100%);
	color: #ffffff;
	font-weight: 400;
	line-height: 44px;
		
	.p {
		margin-left: 20px;
		margin-right: 20px;		
	}
}


.error-with-desc-bottom {
	border-radius: 0 0 4px 4px;
	background-color: #e0e9ee;
	padding-bottom: 20px;		
	
	.error-with-desc-text {
		padding-top: 15px;
			
		.p {
			margin-top: 0px;
			margin-left: 20px;
			margin-right: 20px;
			line-height: 30px;
			color: #38505e;
			
			a {color: #38505e;}
			}
}
}