mixin error-with-desc()

	.error-with-desc
		.p Данный email уже занят 
		.error-with-desc-bottom
			.error-with-desc-text
				.p Используйте другой email, чтобы создать новый аккаунт
				.p Или воспользуйтесь #[a(href="#" target="_blank") восстановлением пароля] , чтобы войти на сайт.
							