// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.
//- Для комментария регистрации или входа
mixin comment-registration()
	.block-registration
		p #[a(href="#") Войдите] или #[a(href="#") зарегистрируйтесь]<br>чтобы оставить комментарий
