include ../layouts/_mixins-links.pug

block variables
	- var title = 'Обо мне'
	- var pageClass = 'about-page'

<!DOCTYPE html>
html(lang="ru")
	head
		include ../layouts/_head-part.pug
		
	body(class=pageClass)

		include ../sections/header-admin.pug
		// include ../sections/header.pug
		
		block content
			.section-ui.section
				.container
					.row
						.col-xl-3
							+avatar('photo-big.jpg')
						.col-xl-9
							.row
								.col-xl-6
									h2.section-header.section-header--name Емельян Казаков
								.col-xl-3.offset-3
									+button('Редактировать','#','button--edit')
							.row
								.col-xl-11
									p
										| Я веб разработчик из Казани. Мне 28 лет.  Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
									p
										| Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy.
										br
										|Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут всё классно и красиво!
									h3.section-subtitle Что я умею
									p
										|Меня привлекет Frontend разработка, это не только моя работа, но и хобби. 
										br
										|Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.

			.section-ui.section.section-technologi
				.container
					.row.block
						.col-xl-3.text-center
							h3.section-subtitle Frontend
						.col-xl-2
							.pie-wrapper.progress-frontend
								span HTML5
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-frontend
								span CSS3
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-frontend
								span JS
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-frontend
								span JQuery
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
					.row.block
						.col-xl-3.text-center
							h3.section-subtitle Backend
						.col-xl-2
							.pie-wrapper.progress-backend
								span PHP
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-backend
								span MySql
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
					.row.block
						.col-xl-3.text-center
							h3.section-subtitle Workflow
						.col-xl-2
							.pie-wrapper.progress-workflow
								span Git
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-workflow
								span Gulp
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-workflow
								span Bower
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
						.col-xl-2
							.pie-wrapper.progress-workflow
								span WebPack
								.pie
									.left-side.half-circle
									.right-side.half-circle
								.shadow
			.section-ui.section
				.container
					.row
						.col-xl-9.offset-3
							h2.section-header.experience Опыт работы
							span.experience-data февраль 2017  — по настоящее время
							h3.experience-in Frontend разработчик, Вконтактe, mail.ru group
							p.experience-text Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.
							span.experience-data сентябрь 2015 — январь 2017
							h3.experience-in Разработчик интерфейсов, Яндекс
							p.experience-text Работы в проекте Яндекс Музыка. Создание новых разделов сервиса. Оптимизация и создание новых копанентов платформы.
							span.experience-data март 2013 — август 2015
							h3.experience-in Веб-разработчик, Cloud studio
							p.experience-text Frontend и Backend для клиентских проектов студии. Работа над студийнойя интернет магазинов. Участие в разработке CRM системы "Sky CRM". Стек используемых технологий: Git,JS, Angular.

		include ../sections/footer.pug
		include ../layouts/_footer-part.pug