extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Комментарии - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'
	- var name = "Юрий Ключевский"

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Комментарии
			.title-2.mb-15 Оставить комментарий
			.comment-add-wrapper
				.comment-add__avatar.float-left
					+avatar-small('avatar-1.jpg')
				.comment-add-block
					.comment-add-block__name= name
					+error('Комментарий не может быть пустым.')
					.comment-add-block__text.mt-10
						textarea(rows="5" placeholder="Введите текст сообщения").textarea Присоединиться к обсуждению
				.comment-add__button.mt-10
					+button('Опубликовать', '#')

			.section-ui.mt-20
				.title-medium Подключение из файла
				pre include ../../pages/ui/comment-add.pug

