extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Элементы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Элементы
			p (Вспомогательные элементы, если таковые будут)
			.title.mb-0 Вспомогательные элементы
			.elements__block
				.button--user
					+button('Пользователь','#')
				.avatar
					.avatar--big
					.avatar--small
						
				p Нотификации
				p Занимают  всю ширину контейнера

				.helper__empty
					.helper__empty-text
						p Комментарий не может быть пустым.

				.helper__busy
					.helper__busy-text
						p Данный email уже занят
				.helper__busy-bottom
					.helper__text
						.helper__busy-bottom-text Используйте другой email чтобы создать новый аккаунт.
						.helper__busy-bottom-link <a href="#"> Или воспользуйтесь восстановлением пароля, чтобы войти на сайт. </a>
						


			
				

			
		
	