extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Элементы - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Ошибки
		p Нотификации
		p Занимают  всю ширину контейнера
				.error__empty
					p Комментарий не может быть пустым.
				.error__busy
					p Данный email уже занят 
				.error__busy__bottom
						.error__busy__bottom__text
							p Используйте другой email, чтобы создать новый аккаунт
							p Или воспользуйтесь #[a(href="#" target="_blank") восстановлением пароля] , чтобы войти на сайт.